html, body {
  font-size: 20px;
  font-family: Helvetica;
  color: black;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  font-smoothing: antialiased;
  -webkit-text-stroke: 0.02em;
  -moz-text-stroke: 0.02em;
  -o-text-stroke: 0.02em;
  -ms-text-stroke: 0.02em;
  text-stroke: 0.02em;
  position: absolute;
  height: 100%;
  width: 100%;
}

.projects-section {
  position: relative;
  height: 100%;
}

* {
  box-sizing: border-box;
}

a:link, a:link p, a:visited, a:visited p {
  color: inherit;
  text-decoration: none;
}

a:hover, a:hover p, a:active, a:active p, .bio-link:hover {
  color: rgb(134, 21, 67);
  cursor: pointer;
}

header {
  position: fixed;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  top: 0;
  left: 0;
  right: 0;
  margin: 16px 24px;
  z-index: 999;
  box-sizing: border-box;
  text-align: left;
}

header p {
  margin: 0;
}

h1{
  margin: 16px 24px;
  font-size: 20px;
  font-family: Helvetica;
  font-weight: 400;
}

h1 span:hover {
  color: rgb(134, 21, 67);
}

h2 {
  margin: 0px 24px;
  padding-top: 40px;
  padding-bottom: 18px;
  font-size: 18px;
  font-weight: 500;
}

h3 {
  margin: 0px 60px;
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: 500;
}

.about-detail {
  padding-top: 35px;
}

.about-margin {
  margin-top: -5px;
}

.header-main-navigation {
  display: flex;
  justify-content: space-between;
}


  .header-main-nav {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  ul{
    list-style: none;
  }
  
  li {
    display: list-item;
    text-align: -webkit-match-parent;
    unicode-bidi: isolate;
  }
  
  header.header-main .header-main-layout .header-main-nav li{
    display: flex;
    position: relative;
  }
  
  /* 쉼표 추가 스타일 */
  .header-main-nav li:nth-child(1) a::after, /* 첫 번째 항목 (Brand Identity) */
  .header-main-nav li:nth-child(2) a::after { /* 두 번째 항목 (Editorial) */
    content: ","; /* 쉼표 추가 */
    margin-right: 0.25em; /* 오른쪽 여백 설정 */
  }
  
  /* 마지막 항목 (Visual Direction)에는 쉼표 제거 */
  .header-main-nav li:nth-child(3) a::after {
    content: ""; /* 빈 문자열로 쉼표 제거 */
  }

.main-gallery {
  height: 100vh;
  padding-top: 81px;
  padding-left: 16px;
  padding-right: 16px;
}

.gallery-wrapper{
  display: flex;
  flex-wrap: wrap;
}

.title-double{
  width: 50%;
  margin-left: 0;
  margin-right: 0;
  align-self: flex-start;
  padding-left: 7px;
  padding-right: 7px;
  margin-bottom: 20px;
}

.title-single-right{
  width: 50%;
  margin-left: 50%;
  margin-right: 0;
  margin-bottom: 20px;
  align-self: flex-start;
  padding-left: 7px;
  padding-right: 7px;
}

.title-single-left{
  width: 50%;
  margin-right: 50%;
  margin-right: 0;
  margin-bottom: 20px;
  align-self: flex-start;
  padding-left: 7px;
  padding-right: 7px;
}

.title-single{
  width: 100%;
  margin-right: 0;
  margin-bottom: 20px;
  align-self: flex-start;
  padding-left: 7px;
  padding-right: 7px;
}


.title-wrapper {
  height: 0;
  width: 100%;
  position: relative;
}

.item-img{
  object-fit: cover;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
}

.title-caption{
  display: flex;
  justify-content: space-between;
  padding-top: 7px;
  padding-bottom: 2px;
  transition: all .5s ease;
  
}

.about.show {
  pointer-events: all;
  opacity: 1;
}

.close {
  position: absolute;
  cursor: pointers;
}

.footer {
  font-size: 20px;
  align-items: flex-end;
  bottom: 0;
  right: 0;
  cursor: pointer;
  display: flex;
  position: absolute;
  z-index: 999;
  padding: 16px 24px;
  padding-bottom: calc(16px + env(safe-area-inset-bottom));
}

/* MOBILE */

@media screen and (max-width: 800px) {

  header {
    text-align: center;
    padding: 0;
  }

    .gallery-wrapper {
      display: block;
    }

    .title-caption{
      font-size: 14px;
    }
  } 

  .block-type-doubleimage {
    display: block;
  }

  .block-type-doubleimage > figure {
    width: 100%;
    height: 100%;
  }

  figcaption {
    padding: 4vh 5vw;
    padding-bottom: calc(4vh + env(safe-area-inset-bottom));
  }

  .footer {
    padding: 4vh 5vw;
    padding-bottom: calc(4vh + env(safe-area-inset-bottom));
  }

  .biography {
    padding: 15vw 5vw 5vw 5vw;
  }

  .close {
    position: absolute;
    width: calc(100% - 10vw);
    text-align: center;
    top: calc(5vw);
    font-size: 30px;
  }

  .h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
  }
  

}

::selection{
  color: rgb(134, 21, 67);

}